html body{
    background-color:grey;
    text-align: center;
    font-family: 'Raleway', Helvetica, sans-serif;
    min-width: 320px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#outer{
    background-color: rgb(250, 250, 250);
    margin: 0 auto;
    border-radius: 4px;
    width: 75%;
    max-width: 900px;
    padding: 20px;
    padding-top: 30px;
}